@import 'styles/shared';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  margin-bottom: 24px;
  border-radius: 5px;
  border: none;
  background-color: $light-grey;
  position: relative;
  box-shadow: 5px 5px 0px black;
  @extend .shadow;
}

.form-title {
  margin: 1rem;
  cursor: pointer;
  color: white;
  &:hover {
    transform: scale(1.1);
  }
  @extend .transition;
}

.controls {
  margin: 1rem;
  display: flex;
  align-items: center;
  p{
    margin: 0 0.5rem 0 0;
  }
}

.control-btn {
  transform: scale(1.9);
  cursor: pointer;
  opacity: (0.5);
  margin: 0 12px;
  @extend .transition;
  &:hover {
    opacity: 1;
    transform: scale(2.2);
  }
}
